@font-face {
    font-family: 'montserratlight';
    src: url('fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'),
         url('fonts/montserrat/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header-photo {
  background-image: url("./../images/house+w+panels.jpg");
  background-repeat: no-repeat;
  background-position: 0px -335px;
  height: 625px;
  background-size: 100%;
}

.layer {
  background-color: rgba(128,128,128,.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-menu {
  display: inline-block;
  width: 100%;
}

.other-tabs {
  padding: 15px;
  display: flex;
  justify-content: space-around;
}

.tab {
  padding: 12px;
}

.header-tabs {
  display: flex;
  justify-content: space-around;
  float: right;
  margin-right: 20px;
  margin-top: 50px;
  color: white;
  font-family: 'montserratlight', sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  cursor: pointer;
}


.lower-power-button {
  border: 2px solid white;
  padding: 1em 1.5em;
  border-radius: 50px;
  font-weight: 700;
  margin-left: 10px;

}

.lower-power-button:hover {
  background: white;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.logo {
  float: left;
  height: 90px;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-tabs {
    display: none;
    position: absolute;
    background-color: #49BBF9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    text-transform: uppercase;
    line-height: 2;
}

.dropdown:hover .dropdown-tabs {
    display: block;
}

.header-main {
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  /*font-weight: bold;*/
}

.smart-easy {
  margin-top: 190px;
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.free-quote-button {
  letter-spacing: 4px;
  font-family: 'montserratlight', sans-serif;
  font-size: 12px;
  padding: 13px;
  background: #49BCF6;
  width: 135px;
  margin: 50px auto;
  border-radius: 50px;
  cursor: pointer;
}

.free-quote-button:hover {
  background-color: #3EA2D4;
}

.first-row {
  display: block;
  text-align: center;
  margin-bottom: 40px;
}

.box {
  margin-top: 50px;
  height: 300px;
}

.energy-consult-info {
  text-align: center;

}

.energy-consult-para {
  padding-bottom: 60px;
}

.energy-consult-button {
  margin-top: 50px;
  border: 2px solid #49BCF6;
  padding: 20px 45px;
  border-radius: 3px;
  color: #49BCF6;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.energy-consult-button:hover {
  background: #49BCF6;
  color: white;
}

.purpose {
  color: #5e5e5e;
  font-size: 12px;
  font-weight: light;
  width: 500px;
  line-height: 2;
  font-family: 'montserratlight', sans-serif;
  font-weight: bold;
  margin: auto;
}

.we-do {
  text-align: center;
}

.we-do-img {
  margin-top: 40px;
}

.quote-form {
  text-align: center;
  margin-top: 125px;
  font-family: 'Montserrat', sans-serif;

}

.form-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-description {
  color: #767676;
  font-size: 18px;
  margin-bottom: 30px;
}

.form-main {
  width: 600px;
  height: 300px;
  margin: auto;
  color: #767676;
  /*letter-spacing: 1px;*/
}

input[type="text"], textarea {
  background-color : #FAFAFA;
}

input {
  margin-top: 10px;
}

.name {
  text-align: left;
  margin-top: 25px;

}

.name-inputs-container {
  display: flex;
  justify-content: space-between;
}

.name-input {
  width: 290px;
  height: 30px;

}

.tiny {
  margin-top: 10px;
  font-family: 'montserratlight', sans-serif;
  font-size: 11px;
}

.email {
  text-align: left;
  margin-top: 25px;
}

.email-input {
  width: 593px;
  height: 30px;
  background-color : #FAFAFA;
}

.phone {
  text-align: left;
  margin-top: 25px;
}

.phone-inputs-container {
  display: flex;
  justify-content: flex-start;
}

.phone-input {
  height: 30px;
  width: 60px;
  margin-right: 10px;
  /*margin-bottom: 10px;*/
}

.long-phone {
  width: 75px;
}

.get-my-quote {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 110px;
  background: #49BCF6;
  width: 240px;
  letter-spacing: 6px;
  border-radius: 50px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.get-my-quote:hover {
  background: #67C9FA;
}

.quote-text {
  margin-top: 14px;
  color: white;
  text-decoration: none;

}

.footer {
  background: #454545;
  height: 300px;
}

.contact-info {
  color: #efefef;
  text-align: center;
  font-family: 'montserratlight', sans-serif;
  letter-spacing: 3px;
  font-size: 12px;
  padding-top: 70px;
}

.social-links {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: 30px;
}

.fa {
  margin: 10px;
  color: white;
}
